*{
    font-family: 'codechin-font' !important;
}
.radius-none {
    border-top-right-radius:0px !important;
    border-top-left-radius:0px !important;
    border-bottom-right-radius:0px !important;
    border-bottom-left-radius:0px !important;
}
.ar-card {
    width:100%;
        height:300px;
    object-fit:cover
}
@font-face {
    font-family: 'codechin-font';
    src: url('../fonts/Yekan Bakh EN 05 Medium.ttf');
}